@model IEnumerable<ForLifeWeb.Models.Plantio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantidade_plantio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_plantio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_colheita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_baixa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade_plantio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_plantio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_colheita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_baixa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_plantio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_plantio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_plantio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
